#Grid {
  border: black solid 2px;
  display: -ms-grid;
  display: grid;
  min-height: 100px;
  -webkit-column-gap: 0;
          column-gap: 0;
  row-gap: 0;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}
