@import '../../static/colors.scss';
.grid-tile{
    border: solid $accentGreyColor 1px;
    background-color: $bakgroundColor;
    text-align: center;
    font-size: 0.5em;
    cursor: pointer;
}
.obsticle{
    background-color: white;
}